{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-fw fa-cubes"></i> Gestión de Apiario
</h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#"><i class="fa fa-fw fa-cubes"></i> Apiario</a></li>
        <li><a href="#"><i class=""></i> Detalle</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<section ng-controller="apiarioController">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid box-default ">
                <div class="box-header">
                    <h3 class="box-title">Información gral. del apiario</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-angle-right"> </i> Nombre del apiario</td>
                            <td>Los algarrobos</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker"></i> Ubicación</td>
                            <td colspan="2">Chamical - La Rioja</td>
                        </tr>
                        <tr>
                            <td><a href="{{ path('colmena') }}"><i class="fa fa-archive"></i> Cantidad de colmenas</a></td>
                            <td>
                                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="145 colmenas">145</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-line-chart"></i> Productividad Estimada</td>
                            <td>
                                <span data-toggle="tooltip" title="" class="badge bg-green" data-original-title="Kg de miel x temporada ">1059 kg/temp</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i> Última visita</td>
                            <td>
                                23/04/2016
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <iframe style="border:none;" src="{{ clima }}"></iframe>
                            </td>
                        </tr>
                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

        <!--****************************************************************** TABS ****************************************************-->
        <div class="col-md-8">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Inspecciones</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Alimentación</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Tratamientos</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Tareas Programadas</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Colmenas en Observ.</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Reinas en Observ.</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <b>How to use:</b>

                        <p>Exactly like the original bootstrap tabs except you should use
                            the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                        A wonderful serenity has taken possession of my entire soul,
                        like these sweet mornings of spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot,
                        which was created for the bliss of souls like mine. I am so happy,
                        my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                        that I neglect my talents. I should be incapable of drawing a single stroke
                        at the present moment; and yet I feel that I never was a greater artist than now.
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        The European languages are members of the same family. Their separate existence is a myth.
                        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                        in their grammar, their pronunciation and their most common words. Everyone realizes why a
                        new common language would be desirable: one could refuse to pay expensive translators. To
                        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                        words. If several languages coalesce, the grammar of the resulting language is more simple
                        and regular than that of the individual languages.
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>

    <!--***************************************************** GRAFICOS *************************************-->
    <div class="row">
        <div class="col-md-4">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Productividad</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Alta/Baja colmenas</a></li>
                    <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">Gastos</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Reportes <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reporte 1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reporte 2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reporte 3</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1">
                        <canvas id="bar"
                                class="chart chart-bar"
                                chart-data             = "data"
                                chart-labels           = "labels"
                                chart-series           = "series"
                                chart-click="onClick">
                        </canvas>
                    </div>

                    <div class="tab-pane" id="tab_2">
                        <canvas id="line"
                                class="chart chart-line"
                                chart-data             = "dataColmenas"
                                chart-labels           = "labelsColmenas"

                                chart-options          = "options"
                                chart-dataset-override = "datasetOverride"
                                chart-click            = "onClickColmenas">
                        </canvas>
                    </div>

                    <div class="tab-pane active" id="tab_3">
                        <canvas id="bar"
                                class="chart chart-bar"
                                chart-data             = "data"
                                chart-labels           = "labels"
                                chart-series           = "series"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <!---************************************************************ BOTONES GRANDES ************************-->
        <div class="col-md-2">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Mentions</span>
                    <span class="info-box-number">92,050</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                  <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
                </div>
            </div>
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Downloads</span>
                    <span class="info-box-number">114,381</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                  <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Direct Messages</span>
                    <span class="info-box-number">163,921</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                  <span class="progress-description">
                    40% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <!--********************************************************* TABLA PRODUCCION **************************-->
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Productividad del Apiario</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th style="width: 40px">Label</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Update software</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-red">55%</span></td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Clean database</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-yellow">70%</span></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Cron job running</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-light-blue">30%</span></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Fix and squish bugs</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-green">90%</span></td>
                        </tr>
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>

            <!--

            -->
</section>
{% endblock %}



