{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-fw fa-cubes"></i> Gestión de Apiario
</h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#"><i class="fa fa-fw fa-cubes"></i> Apiario</a></li>
        <li><a href="#"><i class=""></i> Detalle</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<section ng-controller="apiarioController">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid box-default ">
                <div class="box-header">
                    <h3 class="box-title">Información gral. del apiario</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-angle-right"> </i> Nombre del apiario</td>
                            <td>Los algarrobos</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker"></i> Ubicación</td>
                            <td colspan="2">Chamical - La Rioja</td>
                        </tr>
                        <tr>
                            <td><a href="{{ path('colmena') }}"><i class="fa fa-archive"></i> Cantidad de colmenas</a></td>
                            <td>
                                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="145 colmenas">145</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-line-chart"></i> Productividad Estimada</td>
                            <td>
                                <span data-toggle="tooltip" title="" class="badge bg-green" data-original-title="Kg de miel x temporada ">1059 kg/temp</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i> Última visita</td>
                            <td>
                                23/04/2016
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <iframe style="border:none;" src="{{ clima }}"></iframe>
                            </td>
                        </tr>
                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

        <!--****************************************************************** TABS ****************************************************-->
        <div class="col-md-8">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li data-toggle="tooltip" data-original-title="Inspección a Apiario" class="active"><a href="#tab_1" data-toggle="tab">Inspecciones</a></li>
                    <li data-toggle="tooltip" data-original-title="Alimentación"><a href="#tab_2" data-toggle="tab">Alimentación</a></li>
                    <li data-toggle="tooltip" data-original-title="Tratamientos Aplicados"><a href="#tab_3" data-toggle="tab">Tratamientos</a></li>
                    <li data-toggle="tooltip" data-original-title="Producción del Apiario"><a href="#tab_3" data-toggle="tab">Producción</a></li>
                    <li data-toggle="tooltip" data-original-title="Finanzas del Apiario"><a href="#tab_3" data-toggle="tab">Finanzas</a></li>
                    <li data-toggle="tooltip" data-original-title="Otros Datos del Apiario" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            + Datos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Colmenas en Obs.</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reinas en Obs.</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Núcleos</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tareas Programadas</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody><tr>
                                    <th>Fecha Inspección</th>
                                    <th>Tarea Ejecutada</th>
                                    <th>Observaciones</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>25-02-2017</td>
                                    <td>Armado de cerco perimetral</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    <td data-toggle="tooltip" data-original-title="Ver Detalle"><a href="#">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>10-01-2017</td>
                                    <td>Aplicar medicamento a colmenas</td>
                                    <td>Colmena 13 en observación</td>
                                    <td data-toggle="tooltip" data-original-title="Ver Detalle"><a href="#">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>29-12-2016</td>
                                    <td>Alimentación</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    <td data-toggle="tooltip" data-original-title="Ver Detalle"><a href="#">Ver</a></td>
                                </tr>
                                <tr>
                                    <td>18-12-2016</td>
                                    <td>Alimentación y tratamiento preventivo</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    <td data-toggle="tooltip" data-original-title="Ver Detalle"><a href="#">Ver</a></td>
                                </tr>
                                </tbody></table>
                            <button type="button" class="btn btn-block btn-info">Ver Todas las Inspecciones</button>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>13/14</th>
                                    <th>14/15</th>
                                    <th>15/16</th>
                                </tr>
                                <tr>
                                    <th>Miel</th>
                                    <td>54 kg</td>
                                    <td>45 kg</td>
                                    <td>47 kg</td>
                                </tr>
                                <tr>
                                    <th>Jalea Real</th>
                                    <td>48 kg</td>
                                    <td>58 kg</td>
                                    <td>63 kg</td>
                                </tr>
                                <tr>
                                    <th>Propoleo</th>
                                    <td>52 kg</td>
                                    <td>55 kg</td>
                                    <td>69 kg</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>13/14</th>
                                    <th>14/15</th>
                                    <th>15/16</th>
                                </tr>
                                <tr>
                                    <th>Miel</th>
                                    <td>54 kg</td>
                                    <td>45 kg</td>
                                    <td>47 kg</td>
                                </tr>
                                <tr>
                                    <th>Jalea Real</th>
                                    <td>48 kg</td>
                                    <td>58 kg</td>
                                    <td>63 kg</td>
                                </tr>
                                <tr>
                                    <th>Propoleo</th>
                                    <td>52 kg</td>
                                    <td>55 kg</td>
                                    <td>69 kg</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>

    <!--********************************************************* MAPA **************************-->
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> Ubicación del Apiario</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div align="center">
                            <img style="margin-left: auto;" height="200px" src="{{ asset('bundles/colmenappplataforma/img/mapa.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--***************************************************** GRAFICO MEDIO *************************************-->
        <div class="col-md-4">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> Producción por Temporada</h3>
                </div>
                <div class="box-body">
                    <div class="row" align="center">
                        <canvas id="bar"
                                class="chart chart-bar"
                                chart-data             = "data"
                                chart-labels           = "labels"
                                chart-series           = "series"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

    <!--***************************************************** GRAFICO DERECHA *************************************-->
        <div class="col-md-4">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> Producción por Temporada</h3>
                </div>
                <div class="box-body">
                    <div class="row" align="center">
                        <canvas id="bar"
                                class="chart chart-bar"
                                chart-data             = "data"
                                chart-labels           = "labels"
                                chart-series           = "series"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



