{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-dashboard"></i> Inicio
</h2>
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<section ng-controller="dashboardController">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="fa fa-fw fa-cubes"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Apiarios</span>
                        <span class="info-box-number">2</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          <a style="color: white!important;" href="{{ path('apiario') }}"> Ver apiarios</a>
                        </span>
                    </div>
                </div>
             </div>
            <div class="col-md-4">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-archive"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Colmenas</span>
                        <span class="info-box-number">349</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                          <a style="color: white!important;" href="{{ path('colmena') }}"> Ver Colmenas</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-bullhorn"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Alertas Activas</span>
                        <span class="info-box-number">8</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                           <a style="color: white!important;" href="{{ path('alerta') }}">Ver Alertas</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Ultimas Actividades</h3>
                </div>
                <canvas id="bar"
                        class="chart chart-bar ng-isolate-scope"
                        chart-data             = "data"
                        chart-labels           = "labels"
                        chart-series           = "seriesIngresosEgresos"
                        chart-click="onClick"
                        style="display: block; width: 353px; height: 176px;" width="353" height="176">
                </canvas>
            </div>
        </div>
    </div>
<!--********************************************************* graficos ****************************************-->
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Variación de ingresos/egresos</h3>
                </div>
                <div class="box-body"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="line"
                            class="chart chart-line ng-isolate-scope"
                            chart-data="dataGastos"
                            chart-labels="labelsGastos"
                            chart-series="seriesGastos"
                            chart-options="optionsGastos"
                            chart-dataset-override="datasetOverrideGastos"
                            chart-click="onClick"
                            style="display: block; width: 353px; height: 176px;" width="353" height="176">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Producción total x apiario</h3>
                </div>
                <div class="box-body"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="bar"
                            class="chart chart-bar ng-isolate-scope"
                            chart-data             = "data"
                            chart-labels           = "labels"
                            chart-series           = "series"
                            chart-click="onClick"
                            style="display: block; width: 353px; height: 176px;" width="353" height="176">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Detalles de producción total</h3>
                </div>
                <div class="box-body"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Miel </b> <a class="pull-right">1679,44 kg</a>
                        </li>
                        <li class="list-group-item">
                            <b>Jalea Real</b> <a class="pull-right">543,87 kg</a>
                        </li>
                        <li class="list-group-item">
                            <b>Propóleo</b> <a class="pull-right">128,51 kg</a>
                        </li>
                        <li class="list-group-item">
                            <b>Núcleos</b> <a class="pull-right">65 Un.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}





