{% extends 'ColmenappPlataformaBundle::layout.html.twig' %}


{% block page_title %}
<h2 class="page-header">
    <i class="fa fa-archive"></i> Gestión de Colmena
</h2>

{% endblock %}

{% block page_subtitle %}
   <h5> Colmena n° 219</h5>
{% endblock %}

{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-archive"></i>Colmena</a></li>
    </ol>
{% endblock %}

{% block page_content %}
    <div class="row">
            <div class="col-md-4">
            <div class="box box-solid box-default ">
                <div class="box-header">
                    <h3 class="box-title">Información gral. de la colmena</h3>
                    <a href="#"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Apiario</td>
                            <td colspan="2">Los Algarrobos</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Número de colmena</td>
                            <td colspan="2">219</td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-map-marker"></i></td>
                            <td>Ubicación</td>
                            <td colspan="2">Chamical - La Rioja</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-archive"></i></td>
                            <td>Cantidad de cuadros</td>
                            <td colspan="2">
                                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="145 colmenas">25</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-line-chart"></i></td>
                            <td>Productividad de la colmena</td>
                            <td colspan="2">
                                <span data-toggle="tooltip" title="" class="badge bg-green" data-original-title="Kg de miel x temporada ">45 kg/temp</span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i></td>
                            <td>Última visita</td>
                            <td colspan="2">
                                23/04/2016
                            </td>
                        </tr>
                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="col-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Agresividad de la colonia</h3>
                    </div>
                    <div class="box-body">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Acciones</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Visita/Inspección</td>
                            <td colspan="2">
                                23/04/2016
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Alimentación</td>
                            <td colspan="2">23/04/2016: Alimentación sólida</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Sanidad</td>
                            <td colspan="2">05/03/2016: Fin de tratamiento</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Reina</td>
                            <td colspan="2">
                                Estado: Bueno
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-right"></i></td>
                            <td>Colonia</td>
                            <td colspan="2">
                                Agresividad: <span data-toggle="tooltip" title="" class="badge bg-blue" data-original-title="Agresividad de la colmena">Baja</span>
                            </td>
                        </tr>
                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="col-12">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Productividad de la colmena por temporada</h3>
                    </div>
                    <div class="box-body">
                    </div>
                </div>
            </div>
        </div>




{% endblock %}

